.random {
  text-align: center;
  color: #e2d8d8;
  text-shadow: 0 0 0.2em #8f7;
  font-size: 40px;
}

.container-btn {
  display: flex;
  justify-content: center;
}

.th {
  font-size: x-large;
  display: flex;
  justify-content: center;
}

.td {
  display: flex;
  justify-content: center;
}

.container-table {
  display: flex;
  align-items: baseline;
}
